.footer {
    display: none;
}
/* Top navigation bar */


/* Insert logo before site title */
.wy-nav-top::before {
    content: "";
    background: url("../images/devicehub-logo1.png") no-repeat left center;
    background-size: contain;
    width: 120px;   /* desktop logo width */
    height: 40px;   /* desktop logo height */
    display: block;
    margin-right: 8px;
}

/* Adjust for smaller screens (mobile) */
@media screen and (max-width: 768px) {
    .wy-nav-top::before {
        width: 80px;   /* smaller logo for mobile */
        height: 30px;
    }
}
